/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white; /* Background color */
}

/* Wrapper styling */
.wrapper {
    display: flex;
    width: 900px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; 
    background-color: #fff;
    flex-direction: row;
}

/* Toggle right styling */
.wrapper .toggle-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.wrapper .toggle-right img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper .toggle-right p {
    color: rgb(146, 61, 65); /* Shade of red */
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    left: 0;
    letter-spacing: 1px;
    margin: 6px;
}

/* Toggle left styling */
.wrapper .toggle-left {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
}

.wrapper .toggle-left .form {
    width: 80%;
    padding: 30px 40px;
    border-radius: 10px;
}

.wrapper .toggle-left .form h2 {
    color: rgb(146, 61, 65); /* Shade of red */
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

.wrapper .toggle-left .form p {
    color: rgb(146, 61, 65); /* Shade of red */
    font-size: 1.0em;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.wrapper .toggle-left .form .input {
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 50px;
}

.wrapper .toggle-left .form .input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(146, 61, 65); /* Shade of red */
    border-radius: 40px;
    font-size: 16px;
    color: rgb(146, 61, 65); /* Shade of red */
    padding: 20px 45px 20px 20px;
}

.input input::placeholder {
    color: rgb(146, 61, 65); /* Shade of red */
}

.input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(146, 61, 65); /* Shade of red */
}

.wrapper .toggle-left .form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: rgb(146, 61, 65); /* Shade of red */
    margin-right: 3px;
    color: rgb(146, 61, 65); /* Shade of red */
}

.remember-forgot a {
    color: rgb(146, 61, 65); /* Shade of red */
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .toggle-left .form .Login {
    width: 100%;
    height: 45px;
    background: rgb(113, 99, 186); /* Wine color */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white; /* Text color */
    font-weight: 600;
}

.wrapper .toggle-left .form .register {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register p a {
    color: rgb(146, 61, 65); /* Shade of red */
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

#result {
    color: red;
    font-weight: 600;
    top: 25px;
    position: relative;
}
